<header>
    <h1 class="titulo header-titulo">Edward Wayne Cruz <span class=".header-span">Proyecto Sistema Gestion</span></h1>
</header>

<div class="nav-bg">
    <nav class="navegacion-principal contenedor">
        <a href="http://localhost:3000">Inicio</a>	
        <a href="http://localhost:3000/consulta">Consultas</a>
    </nav>
</div>